.App {
}

.App-title {
  color: #8c9caf;
  font-family: Lato;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

.App-vizPlaceholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.App-vizPlaceholderText {
  margin-top: 1rem;
  height: 66px;
  width: 310px;
  color: #5d6f85;
  font-family: Lato;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
