.Encoding-bar {
  display: flex;
  align-items: center;
}

.Encoding-bar select {
  height: 28px;
}

.Encoding-bar select:nth-child(2) {
  flex-grow: 1;
}

.Encoding-advanced {
}

.Encoding-advanced .radio-inline {
  padding-top: 0;
}

.Encoding-advanced label {
  font-size: 14px;
}
