.modal {
  padding: 0 !important;
}

.modal :global(.modal-dialog) {
  width: 80vw;
  max-width: 70rem;
  transition: width 0.3s ease-out, -webkit-transform 0.3s ease-out !important;
}

.anyImage {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imageHolder {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.tabContainer {
  position: absolute;
  left: 3rem;
}

.helpText span:first-child {
  margin-right: 0.25rem;
  font-size: 1rem;
  vertical-align: -0.16rem;
}

.emptyStatePanel {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.modal-body) .emptyStatePanel {
  box-shadow: none;
  padding: 0;
  margin: 0;
}

.emptyStatePanel h3 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.preview :global(.panel-body) {
  padding-top: 4rem;
}

@media (max-width: 767px) {
  .modal :global(.modal-dialog) {
    width: auto !important;
  }

  .modal :global(.panel-body) {
    padding: 0;
  }

  .emptyStatePanel h3 {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .modal :global(.modal-dialog) {
    width: 95vw;
  }
}
